{% extends 'sts_base.html' %}

{% block body %}
<div class="row profile-background">
    <div class="profile">
        <!--Personal information-->
        <div class="profile-block">
            <h1>User profile</h1>
            <div class="personal-info">
                <div class="info">
                    <label >Username</label>
                    <p>{{account.get_username}}</p>
                </div>
                <div class="info">
                    <label>Firstname</label>
                    <p>{{account.first_name}}</p>
                </div>
                <div class="info">
                    <label>Lastname</label>
                    <p>{{account.last_name}}</p>
                </div>
                <div class="info">
                    <label>Email</label>
                    <p>{{account.email}}</p>
                </div>
                <div class="info">
                    <label>Account type</label>
                    <p>{{account.get_account}}</p>
                </div>
            </div>

            {% if user.is_superuser %}
                <div class="admin-pan">
                    <a href="{% url 'edit_account_profile' pk=account.pk%}"><button class="sts-btn">Edit profile</button></a>
                </div>
            {% endif %}
        </div>
        <!--End personal information-->

        <!--Preference information-->
        {% if user.is_superuser %}
            {% if account.account_type != 1 %}
                <!--Preference information-->
                <div class="preference-block">
                    <h1>Preferences</h1>
                    <div class="preference-info">
                        <div class="info">
                            <!--Preference-->
                            <label>Preferences</label>
                            {% if not preferences %}
                                <div>
                                    <p>No preference yet.</p>
                                    <br/>
                                </div>
                            {% else %}
                                <table class="a">
                                    <thead>
                                        <tr>
                                            <th>Day</th>
                                            <th>Shift</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pref in preferences %}
                                            <tr>
                                                <td>{{pref.get_day}}</td>
                                                <td>{{pref.get_shift}}</td>
                                                <td><a href="{% url 'edit_preference' pk=pref.pk%}">Edit</a></td>
                                                <td><a href="{% url 'delete_preference' pk=pref.pk %} ">Delete</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>
                            {% endif %}
                            <br/>
                            <div class="admin-pan">
                                <a href="{% url 'new_preference' %}"><button class="sts-btn">Add preference</button></a>
                            </div>
                            <!--End Preference-->
                            <br/>
                            <br/>
                            <!--Dislike-->
                            <label>Not wanted date</label>
                            {% if not dislikes %}
                                <div>
                                    <p>No dislike yet.</p>
                                    <br/>
                                </div>
                            {% else %}
                                <table class="a">
                                    <thead>
                                        <tr>
                                            <th>Day</th>
                                            <th>Start</th>
                                            <th>End</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for dis in dislikes %}
                                            <tr>
                                                <td>{{dis.get_day}}</td>
                                                <td>{{dis.get_start}}</td>
                                                <td>{{dis.get_end}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            <br/>
                            <div class="admin-pan">
                                <a href="{% url 'new_dislike' %}"><button class="sts-btn">Add dislike</button></a>
                            </div>
                            <!--End dislike-->
                        </div>
                    </div>
                    <br/>
                </div>
            {% endif %}
        {% endif %}
        <!--End preference information -->

        <!-- Course information -->

        <div class="course-block">
            <h1>Courses given</h1>
            <div class="list">
                {% if instructor_courses %}
                    <table class="a">
                        <thead>
                            <tr>
                              <th>Course name</th>
                              <th>Acronym</th>
                              <th>Credit</th>
                              <th>Semester</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in instructor_courses %}
                            <tr>
                                <td><a href="{% url 'course_details' pk=object.course.pk %}">{{object.course.name}}</a></td>
                                <td>{{object.course.acronym}}</td>
                                <td>{{object.course.credit}}</td>
                                <td>{{object.course.semester}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% else %}
                    <p>No course yet.</p>
                    <div class="admin-pan">
                        <a href="{% url 'new_instructor_course' %}"><button class="sts-btn">Assign course</button></a>
                    </div>
                {% endif %}

            </div>
        </div>
        <!-- Course information -->


    </div>
</div>
{% endblock %}