{% extends "sts_base.html" %}

{% block body %}
<div class="row">
    <h1>Edit user account</h1>
    <form class="form" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
          <div>
              <td>{{ field.label_tag }}</td>
              <td>{{ field }}</td>
              {% for error in field.errors %}
                <p class="error">{{ error }}</p>
              {% endfor %}
          </div>
        </div>
        {% endfor %}
        <div>
            <button class="sts-btn" type="submit">Save</button>
            <a href='{% url "account_profile_details" pk=object.pk %}' ><button class="sts-btn" type="button">Cancel</button></a>
        </div>
    </form>
</div>
{% endblock %}