{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Login" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <h1>Please login</h1>
    <div class="message">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login</p>
            {% endif %}
        {% endif %}
    </div>

    <form class="form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="fieldWrapper">
            <div>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </div>
            <div>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
                {# Assumes you setup the password_reset view in your URLconf #}
                <td>
                    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                </td>
            </div>
        </div>
        <div>
            <input class="sts-btn" type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
            <a href="{% url 'signup' %}"><button class="sts-btn" type="button">signup</button></a>
        </div>
    </form>
</div>
{% endblock %}