{% extends "sts_base.html" %}

{% block body %}
<div class="row">
    <div class="email-block">
        {% if validlink %}
            <h3>Please enter (and confirm) your new password.</h3>
            <form class="form" action="" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
               <div class="fieldWrapper">
                   <div>
                        <td>{{ form.new_password1.errors }}
                            <label for="id_new_password1">New password:</label></td>
                        <td>{{ form.new_password1 }}</td>
                    </div>
                    <div>
                        <td>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Confirm password:</label></td>
                        <td>{{ form.new_password2 }}</td>
                    </div>
                    <div>
                        <td></td>
                        <td><input type="submit" class="sts-btn" value="Change my password" /></td>
                    </div>
                </div>
            </form>
        {% else %}
            <h1>Password reset failed</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
</div>
{% endblock %}