{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Reset done" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <div class="email-block">
        <h1>Check your inbox</h1>
        <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
        <a href="{% url 'index' %}"><button class="sts-btn">Back home</button></a>
    </div>
</div>
{% endblock %}