{% extends "sts_base.html" %}
{% block body %}
    <div class="row">
        <div class="email-block">
            <p>Someone asked for password reset for email {{ email }}. Follow the link below:</p>
            <p>{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
        </div>
    </div>
{% endblock %}