{% extends "sts_base.html" %}
{% block body %}
<div class="row">
    <div class="email-block">
        <h1>The password has been changed!</h1>
        <a href="{% url 'login' %}"><button class="sts-btn">log in again?</button></a>
    </div>
</div>

{% endblock %}