{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Reset password" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <form class="form" action="" method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}
            <div>
                <td>{{ form.email.label_tag}}</td>
                <td>{{ form.email }}</td>
            </div>
            <div>
                <input type="submit" class="sts-btn" value="Reset password" />
                <p>or <a href="{% url 'login' %}">Login</a></p>
            </div>
        </div>
    </form>
</div>
{% endblock %}