{% extends 'sts_base.html' %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Signup" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <h2>New account</h2>
    <form class="form" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
          <div>
              <td>{{ field.label_tag }}</td>
              <td>{{ field }}</td>
              {% for error in field.errors %}
                <p class="error">{{ error }}</p>
              {% endfor %}
          </div>
        </div>
        {% endfor %}
        <div>
            <button class="sts-btn" type="submit">Create new account</button>
            <a href="{% url 'login' %}"><button class="sts-btn" type="button">Login</button></a>
        </div>

    </form>
</div>
{% endblock %}