{% extends "sts_base.html" %}

{% block body %}
<div class="row">
    <div class="computation-block">
        <h1>Genetic Algorithm computation</h1>

        <div class="sts-text-info">
            <div class="info">
                <label>Schedule name</label>
                <p>{{ schedule.name }}</p>
            </div>
            <div class="info">
                <label>Description</label>
                <p>{{ schedule.description }}</p>
            </div>
            <div class="info">
                <label>Demi semester</label>
                <p>{{ schedule.get_readable_demiSemester }}</p>
            </div>
            <div class="info">
                <label>Numb. of students</label>
                <p>{{ n_students }}</p>
            </div>
            <div class="info">
                <label>Computation time (second)</label>
                <p>{{ time }}</p>
            </div>
        </div>

        <br/>
        <div>
            <a href="#"><button class="sts-btn alert-btn">Compute</button></a>
        </div>
    </div>

</div>
{% endblock %}