{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Course lab" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <div class="slot-block">
        <h1>Lab</h1>
        <div class="sts-text-info">
            <div class="info">
                <label>Course</label>
                <p>{{ object.course }}</p>
            </div>
            <div class="info">
                <label>Day</label>
                <p>{{ object.slot.get_readable_day }}</p>
            </div>
            <div class="info">
                <label>Shift</label>
                <p>{{ object.slot.get_readable_shift }}</p>
            </div>
        </div>
        <br/>
        <div>
            <a href="{% url 'edit_lab_qb' pk=object.pk pk_2=schedule.pk %} "><button class="sts-btn">Edit lab</button></a>
            <a href="{% url 'delete_lab_qb' pk=object.pk pk_2=schedule.pk %} "><button class="sts-btn alert-btn">Delete lab</button></a>
        </div>
    </div>

    <div class="student-block">
        <div class="list">
            <h1>Student list for lab {{object.course}}, {{object.slot.slot.get_readable_day}} {{object.slot.slot.get_readable_shift}} ({{ students.count }})</h1>
            {% if students %}
                <table class="a">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Possibilitie(s)</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for object in students %}
                        <tr>
                            <td>{{object.student.code}}</td>
                            <td>
                                {% for possibility in object.get_possibilities %}
                                    {{possibility.readable_slot}}
                                {% endfor %}
                            </td>
                            <td><a href="{% url 'student_details' pk=object.student.pk %}">Details</a></td>
                            <td><a href="{% url 'move_student_qb' pk=object.pk %}">Move</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <p>No student yet for this lab.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}