{% extends "sts_base.html" %}

{% block body %}
<div class="row">
    <h1>Delete slot</h1>
    <form class="form" method="post">{% csrf_token %}
        <p>Are you sure you want to delete this object?</p>
        <div class="fieldWrapper">
            <div class="info">
                <label >Course</label>
                <p>{{object.course}}</p>
            </div>
            <div class="info">
                <label >Day</label>
                <p>{{object.slot.get_readable_day}}</p>
            </div>
            <div class="info">
                <label >Shift</label>
                <p>{{object.slot.get_readable_shift}}</p>
            </div>

        </div>
        <input class="sts-btn alert-btn" type="submit" value="Confirm" />
        <a href='{% url "lab_qa_details" pk=object.pk pk_2=schedule.pk %}' ><button class="sts-btn" type="button">Cancel</button></a>
    </form>
</div>
{% endblock %}