{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Edit student" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <h1>Edit student</h1>
    <form class="form" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="fieldWrapper">
      <div>
          <td>{{ field.label_tag }}</td>
          <td>{{ field }}</td>
          {% for error in field.errors %}
            <p class="error">{{ error }}</p>
          {% endfor %}
      </div>
    </div>
    {% endfor %}
    <div>
        <button class="sts-btn" type="submit">Save</button>
    </div>
    </form>
</div>
{% endblock %}