{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Edit student lab session" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <h1>Edit lab session : student {{student}}, {{course}}</h1>
    <form class="form" method="post">
        <div class="fieldWrapper">
             <div>
                 <td>Student possibilities for {{object.course}}:</td>
                <ul>
                    {% for possibility in object.get_possibilities %}
                        <li>{{possibility.readable_slot}}</li>
                    {% endfor %}
                </ul>
             </div>
         </div>
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
            <div>

                <td>{{ field.label_tag }}</td>
                <th>{{ field }}</th>

                {% for error in field.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <div>
            <button class="sts-btn" type="submit">Save</button>
            <a href='{% url "student_schedule" pk_1=student.pk pk_2=schedule.pk %}' ><button class="sts-btn" type="button">Cancel</button></a>
        </div>
    </form>
</div>
{% endblock %}