{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Import students" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}

<div class="row">
    <div class="student-block">
        {% if courses %}
            {% if students %}
                <div class="list">
                    <h1>Imported students</h1>
                    <table class="a">
                        <thead>
                            <tr>
                                <th>Code</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                            <tr>
                                <td>{{student.code}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'students_list' %}"><button class="sts-btn">View all students</button></a>
                </div>
            {% else %}
                <h1>Import a students file</h1>
                <form class="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="my_file">
                    <a href="{% url 'students_list' %}"><input type="submit" value="Import" class="sts-btn" onclick="ButtonClicked()"></a>
                </form>
            {% endif %}
        {% else %}
            <h1>Import students</h1>
            <p>You need to import courses first</p>
            <a href="{% url 'import_courses' %}"><button class="sts-btn alert-btn">Import courses</button></a>
        {% endif %}
    </div>
</div>

{% endblock %}

