{% extends 'sts_base.html' %}

{% block body %}
<div class="row">
    <div class="student-block">
        <div class="list">
            <h1>Student list for lab {{course}}, {{slot.slot.get_readable_day}} {{slot.slot.get_readable_shift}} ({{ students.count }})</h1>
            {% if students %}
                <table class="a">
                    <thead>
                        <tr>
                            <th>code</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for object in students %}
                        <tr>
                            <td>{{object.student.code}}</td>
                            <td><a href="{% url 'student_details' pk=object.student.pk %}">Details</a></td>
                            <td><a href="{% url 'edit_student_course_lab' pk_1=object.student.pk pk_2=schedule.pk pk_3=course.pk%}">Edit</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <p>No student yet for this lab.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
