{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Edit student lab session" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <h1>Move student</h1>

    <form class="form" method="post">
         <div class="fieldWrapper">
             <div>
                 <td>Student possibilities for {{object.course}}:</td>
                <ul>
                    {% for possibility in object.get_possibilities %}
                        <li>{{possibility.readable_slot}}</li>
                    {% endfor %}
                </ul>
             </div>
         </div>
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
          <div>
              <td>{{ field.label_tag }}</td>
              <td>{{ field }}</td>
              {% for error in field.errors %}
                <p class="error">{{ error }}</p>
              {% endfor %}
          </div>
        </div>
        {% endfor %}
        <div>
            <button class="sts-btn" type="submit">Save</button>
            {% if object.schedule.demi_semester == 1 %}
                <a href='{% url "lab_qa_details" pk=object.ex_qa_slot.pk pk_2=object.schedule.pk %}' ><button class="sts-btn" type="button">Cancel</button></a>
            {% else %}
                <a href='{% url "lab_qb_details" pk=object.ex_qb_slot.pk pk_2=object.schedule.pk %}' ><button class="sts-btn" type="button">Cancel</button></a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}