{% extends 'sts_base.html' %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Create student" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <h2>New student</h2>
    <form class="form" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
          <div>
              <label>{{ field.label_tag }}</label>
              <td>{{ field }}</td>
              {% for error in field.errors %}
                <p class="error">{{ error }}</p>
              {% endfor %}
          </div>
        </div>
        {% endfor %}
        <div>
            <button class="sts-btn" type="submit">Create new student</button>
            <a href='{% url "students_list" %}' ><button class="sts-btn" type="button">Cancel</button></a>
        </div>

    </form>
</div>
{% endblock %}