{% extends 'sts_base.html' %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Students list" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <div class="student-block">
        <div class="list">
            <h1>Student list ({{ object_list.count }})</h1>
            {% if object_list %}
                <table class="a">
                    <thead>
                        <tr>
                            <th>code</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for student in object_list %}
                        <tr>
                            <td>{{student.code}}</td>
                            <td><a href="{% url 'student_details' pk=student.pk %}">Details</a></td>
                            <td><a href="{% url 'delete_student' pk=student.pk %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <br/>
                <a href="{% url 'new_student' %}"><button class="sts-btn">Create new student</button></a>
                <a href="{% url 'import_students' %}"><button class="sts-btn alert-btn" onclick="return confirm('Are you sure?')">(Re)Import student</button></a>

            {% else %}
                <p>No student yet.</p>
                <br/>
                <a href="{% url 'new_student' %}"><button class="sts-btn">Create new student</button></a>
                <a href="{% url 'import_students' %}"><button class="sts-btn alert-btn">Import student</button></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
