{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Student schedule" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<link rel='stylesheet' type='text/css' href="{% static 'scheduling/style.css' %}" />
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
{% endblock %}


{% block body %}
<div class="row profile-background">
    <div class="profile">

        <div class="profile-block">
            <h3>Student</h3>
            <div class="sts-text-info">
                <div class="info">
                    <label>Code</label>
                    <p>{{ student.code }}</p>
                </div>
                {% if no_possibilities %}
                    <div class="info">
                        <label class="red">Conflicts</label>
                        <p>
                            {% for course in no_possibilities %}
                                {{ course }}
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}
            </div>
            <br/>
        </div>

        <div class="course-block">
            {% if courses_dict %}
                <h3>Courses of {{schedule.name}}</h3>
                <div class="courses-list">
                    <table class="a">
                        <thead>
                            <tr>
                                <th>Sigle</th>
                                {% if schedule.demi_semester == 1 %}
                                    <th>Numb. CM Qa</th>
                                    <th>Numb. EX Qa</th>
                                {% else %}
                                    <th>Numb. CM Qb</th>
                                    <th>Numb. EX Qb</th>
                                {% endif %}
                                <th>Slot</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for dict in courses_dict %}
                            <tr>
                                <td>{{dict.course.course}}</td>
                                {% if schedule.demi_semester == 1 %}
                                    <td>{{dict.course.course.n_CM_Qa}}</td>
                                    <td>{{dict.course.course.n_EX_Qa}}</td>
                                    <td>
                                        {% if dict.slot %}
                                            {% for o in dict.slot %}
                                                {{o.ex_qb_slot.slot.get_readable_day}} {{o.ex_qb_slot.slot.get_readable_shift}}
                                            {% endfor %}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </td>
                                    {% if dict.course.course.n_EX_Qb > 0 and dict.slot%}
                                        <td><a href="{% url 'edit_student_course_lab' pk_1=student.pk pk_2=schedule.pk pk_3=dict.course.course.pk %} ">Move</a></td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% else %}
                                    <td>{{dict.course.course.n_CM_Qb}}</td>
                                    <td>{{dict.course.course.n_EX_Qb}}</td>
                                    <td>
                                        {% for o in dict.slot %}
                                            {{o.ex_qb_slot.slot.get_readable_day}} {{o.ex_qb_slot.slot.get_readable_shift}}
                                        {% endfor %}
                                    </td>
                                    {% if dict.course.course.n_EX_Qb > 0 and dict.slot %}
                                        <td><a href="{% url 'edit_student_course_lab' pk_1=student.pk pk_2=schedule.pk pk_3=dict.course.course.pk %} ">Move</a></td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h3> Student {{student.code}} has no courses yet for {{schedule.name}}'schedule.</h3>
            {% endif %}
        </div>

        <div class="calendar-block">
            <div id="test"></div>
            {% if event_objects %}
                <h3>Student calendar of {{schedule.name}}</h3>
            {% else %}
                <h3>{{schedule.name}}'schedule has no events yet for this student.</h3>
            {% endif %}

            <div class="calendar">
                <div class="row">
                    <div id="eventContent" title="Event Details">
                        <div id="eventInfo"></div>
                        <a id="eventLink" target="_self"><button class="event-btn">Read More</button></a>
                    </div>

                    <div class="wrapper" id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Calendar creation script -->
<script src="fcbasic.js"></script>
<script src="fc-select.js"></script>

<script type='text/javascript'>

    $(document).ready(function() {
        // Array of events
        var events_array = getEvents("{{event_objects}}");

        // page is now ready, initialize the calendar...
        var $calendar = $('#calendar').fullCalendar(
        { //start of option
            defaultView: 'agendaWeek',
            minTime: "08:30:00",
            maxTime: "20:30:00",
            allDaySlot: false,


            // Do not show Saturday/Sunday
            weekends: false,
            header: {
                left : 'title',
                center: '',
                right: 'agendaDay, agendaWeek'
            },

            eventClick:  function(event, jsEvent, view) {
                if (event.url){


                //set the values and open the modal
                $("#eventInfo").html(event.description);
                $("#eventLink").attr('href', event.url);
                $("#eventContent").dialog({ modal: true, title: event.title });
                return false;
                }
            },


            // Make possible to respond to clicks and selections
            //selectable: false,

            editable : false,


            events: events_array

        } // End of option
        );
        }
    );

    function getEvents(event_objects) {
        // Array of events
        var events_array = [];

        {% for e in event_objects %}
            //document.getElementById("test").innerHTML = "{{e.course}}";
                lec_event = {
                    //title of the event
                    {% if e.tag == 1 %}
                        title: "Lecture :\n"+"{{e.course.sigle}}",
                    {% else %}
                        title: "Lab :\n"+"{{e.course.sigle}}",
                    {% endif %}
                    //start of the event
                    start: "{{e.get_lec_start}}",
                    //end of the event
                    end: "{{e.get_lec_end}}",
                    dow: "{{e.slot.day}}",
                    description: "{{e.description}}",
                    url: "{% url 'course_details' pk=e.course.pk %}",
                    color: "{{e.get_color}}"
                };

            events_array.push(lec_event);

        {% endfor %}

        return events_array;
    }

</script>
{% endblock %}

