{% extends "sts_base.html" %}

{% load i18n static %}

{% block head_title %}{% trans "LabScheduler | Student" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<link rel='stylesheet' type='text/css' href="{% static 'scheduling/style.css' %}" />
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
{% endblock %}


{% block body %}
<div class="row profile-background">
    <div class="profile">

        <div class="profile-block">
            <h3>Student</h3>
            <div class="sts-text-info">
                <div class="info">
                    <label>Code</label>
                    <p>{{ student.code }}</p>
                </div>

            </div>
            <br/>
            <div>
                <a href="{% url 'edit_student' pk=object.pk %} "><button class="sts-btn">Edit student</button></a>
                <a href="{% url 'delete_student' pk=object.pk %} "><button class="sts-btn alert-btn">Delete student</button></a>
            </div>
        </div>

        <div class="course-block">
            <h3>Courses</h3>
            <div class="courses-list">
                {% if courses %}
                    <table class="a">
                        <thead>
                            <tr>
                                  <th>Sigle</th>
                                  <th>Numb. CM Qa</th>
                                  <th>Numb. CM Qb</th>
                                  <th>Numb. EX Qa</th>
                                  <th>Numb. EX Qb</th>
                                  <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for o in courses %}
                            <tr>
                                <td>{{o.course.sigle}}</td>
                                <td>{{o.course.n_CM_Qa}}</td>
                                <td>{{o.course.n_CM_Qb}}</td>
                                <td>{{o.course.n_EX_Qa}}</td>
                                <td>{{o.course.n_EX_Qb}}</td>
                                <td><a href="{% url 'course_details' pk=o.course.pk %}">Details</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No course yet.</p>
                {% endif %}
            </div>
        </div>

        <div class="calendar-block">
            <div id="test"></div>
            <h3>Student calendars list</h3>

            <div class="list">
                {% if schedules %}
                    <table class="a">
                        <thead>
                            <tr>
                                <th>Schedule name</th>
                                <th>Demi semester</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for schedule in schedules %}
                            <tr>
                                <td>{{schedule.name}}</td>
                                <td>{{schedule.get_readable_demiSemester}}</td>
                                <td><a href="{% url 'student_schedule' pk_1=student.pk pk_2=schedule.pk %}">Calendar</a></td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% else %}
                    <p>No schedule yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

