{% extends "sts_base.html" %}

{% load i18n static %}

{% block head_title %}{% trans "LabScheduler | stat" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<link rel='stylesheet' type='text/css' href="{% static 'scheduling/style.css' %}" />
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
{% endblock %}

{% block body %}
<div class="row">
    {% if stat.students %}
        <div class="schedule-block">
            <h1>Students stats</h1>
            <div class="sts-text-info">
                <div class="info">
                    <label>Numb. students</label>
                    <p>{{stat.n_students}}</p>
                </div>
            </div>
            <br/>
            <div>
                <a href="{% url 'students_list' %} "><button class="sts-btn">Students list</button></a>
            </div>
        </div>

        <div class="student-block">
            <h3>{{stat.no_possibility_qa.numb_students}} Students with no possibility for QA ({{stat.no_possibility_qa.percentage}})</h3>
            <div class="courses-list">
                <table class="a">
                    <thead>
                        <tr>
                              <th>code</th>
                              <th>Numb. courses</th>
                              <th>Courses</th>
                              <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for student_possibilities in stat.no_possibility_qa.students %}
                        <tr>
                            <td>{{student_possibilities.student}}</td>
                            <td>{{student_possibilities.n_courses}}</td>
                            <td>
                            {% for course in student_possibilities.courses %}
                                {{course}}
                            {% endfor %}
                            </td>
                            <td><a href="{% url 'student_details' pk=student_possibilities.student.pk %}">Details</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="student-block">
            <h3>{{stat.no_possibility_qb.numb_students}} Students with no possibility for QB ({{stat.no_possibility_qb.percentage}})</h3>
            <div class="courses-list">
                <table class="a">
                    <thead>
                        <tr>
                              <th>code</th>
                              <th>Numb. courses</th>
                              <th>Courses</th>
                              <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for student_possibilities in stat.no_possibility_qb.students %}
                        <tr>
                            <td>{{student_possibilities.student}}</td>
                            <td>{{student_possibilities.n_courses}}</td>
                            <td>
                            {% for course in student_possibilities.courses %}
                                {{course}}
                            {% endfor %}
                            </td>
                            <td><a href="{% url 'student_details' pk=student_possibilities.student.pk %}">Details</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!--
        <div class="student-block">
            <h3>{{stat.multiple_possibility_qb.numb_students}} Students with multiple possibility for QB ({{stat.multiple_possibility_qb.percentage}})</h3>
            <div class="courses-list">
                <table class="a">
                    <thead>
                        <tr>
                              <th>code</th>
                              <th>Numb. courses</th>
                              <th>Courses</th>
                              <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for student_possibilities in stat.multiple_possibility_qb.students %}
                        <tr>
                            <td>{{student_possibilities.student}}</td>
                            <td>{{student_possibilities.n_courses}}</td>
                            <td>
                            {% for course in student_possibilities.courses %}
                                {{course}}
                            {% endfor %}
                            </td>
                            <td><a href="{% url 'student_details' pk=student_possibilities.student.pk %}">Details</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        -->
    {% else %}
        <div class="student-block">
            <h1>Students statistics</h1>
            <p>Students must be imported first</p>

            <div>
                <a href="{% url 'import_students'%}"><button class="sts-btn alert-btn">Import students</button></a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}