{% load static %}
<script src="{% static 'tornado_websockets/client.js' %}"></script>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  </body>
</html>