{% extends "sts_base.html" %}

{% block body %}
<di class="row">
    <div class="scheduler-block">
        <h1>Scheduler</h1>
        <div class="sts-text-info">
            <div class="info">
                <label>Schedule name</label>
                <p>{{ scheduler.schedule.name }}</p>
            </div>
            <div class="info">
                <label>Schedule description</label>
                <p>{{ scheduler.schedule.description }}</p>
            </div>
            <div class="info">
                <label>Days/week</label>
                <p>{{ scheduler.schedule.num_days }}</p>
            </div>
            <div class="info">
                <label>Shifts/days</label>
                <p>{{ scheduler.schedule.num_shifts }}</p>
            </div>
            <div class="info">
                <label>Number of courses</label>
                <p>{{scheduler.num_courses}}</p>
            </div>
            <div class="info">
                <label>Number of schedules found</label>
                <p>{{scheduler.schedules_count}}</p>
            </div>
        </div>
    </div>
    {% for index, schedule in enum_schedules %}
        <div class="scheduler-block">
            <h3>Schedule : {{index}}</h3>
            <div class="course-list">
                    {% if scheduler.courses %}
                        <table class="a">
                            <thead>
                                <tr>
                                    <th>Course name</th>
                                    <th>Course acronym</th>
                                    <th>Teacher(s)</th>
                                    <th>Lecture Days</th>
                                    <th>Assistant(s)</th>
                                    <th>Lab Days</th>

                                </tr>
                            </thead>
                            <tbody>
                            {% for course in schedule %}
                                <tr>
                                    <td>{{course.course.name}}</td>
                                    <td>{{course.course.acronym}}</td>
                                    <td>
                                        {% for teacher in course.teachers %}
                                            {{teacher}}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {{course.get_readable_lec_day}}, {{course.get_readable_lec_shift}}
                                    </td>
                                    <td>
                                        {% for assistant in course.assistants %}
                                            {{assistant}}
                                        {% empty %}
                                        No assistant
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if course.assistants %}
                                            {{course.get_readable_lab_day}}, {{course.get_readable_lab_shift}}
                                        {% else %}
                                        No labs
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No course.</p>
                    {% endif %}

            </div>
            <a href="{% url 'events_list' %}"><button class="sts-btn">See events</button></a>
        </div>
    {% endfor %}
</di>
{% endblock %}