{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Edit my profile" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <h1>Edit my account</h1>
    <form class="form" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
          <div>
              {% if field.label != "Password" %}
                  <td>{{ field.label_tag }}</td>
                  <td>{{field}}</td>
                  {% for error in field.errors %}
                    <p class="error">{{ error }}</p>
                  {% endfor %}
              {% endif %}
          </div>
        </div>
        {% endfor %}
        <div>
            <button class="sts-btn" type="submit">Save</button>
            <a href='{% url "profile" %}' ><button class="sts-btn" type="button">Cancel</button></a>
        </div>
    </form>
</div>
{% endblock %}