{% extends 'sts_base.html' %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | My profile" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row profile-background">
    <div class="profile">
        <!--Personal information-->
        {% include "account/profile/profile_form.html" %}
        <!--End personal information-->

    </div>
</div>
{% endblock %}