@import url(https://fonts.googleapis.com/css?family=Droid+Serif&text=Home%20Reviews%20Features%20About);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
	color:#032f5d;
	font-family: "Droid Serif", Georgia, serif;
	font-size: 14px;
	line-height:1.6875;
	background: #f7f8fa;
	position: relative;
}
.content{
	/*display:none;*/
}

header{
	border-bottom: 1px solid #dedede;
	text-align:center;
}

.footer {
	bottom: 0;
	right: 0;
	left: 0;
	padding: 1rem;
	border-top: 1px solid #ccc;
	margin-top: 50px;
	margin: 20px;
	text-align: center;
}

a {
	color: #032f5d;
}

a :hover{
	color: #032f5d;
}

.course{
	margin: 5px;
	width: 45%;
	padding: 20px;
	background: #fff;
}

.instructor{
	margin: 5px;
	width: 45%;
	padding: 20px;
	background: #fff;
}

.schedule{
	padding: 20px;
	background: #fff;
}

.list{
	width: 100%;
	margin: auto;
	background: #fff;
}

.admin-pan{
	margin: auto;
	padding: auto;
	width: 100%;
	height: auto;
}

.event{
	width: 80%;
	margin: auto;
}

table {
	width: 100%;
    border-collapse: collapse;
    border: none;
    background: #fff;
}
thead{
	color: #032f5d;
	background: #e9ecef;
}

tbody{
	border: none;
}

td {
    border: none;
  	padding: 8px;
}

th {
    border: none;
  	padding: 8px;
}

tr:nth-child(even){
	background-color: #f0f0f0;
}

tr:hover {
}

table.a {
    table-layout: auto;
    min-width: 600px;
}

table.b {
    table-layout: fixed;
    width: 180px;
}

table.c {
    table-layout: auto;
    width: 100%;
}

table.d {
    table-layout: fixed;
    width: 100%;
}

.row{
	width: 100%;
	padding: 2.5%;
	margin: auto;
}
h1, h2, h3{
	width: 100%;
	text-align: left;
}

.title{
    background: #032f5d;
}

.home{
	width:100%;
}

.welcome{
	width: 400px;
	margin: auto;
}
/*profile*/
.profile{
	width: 100%;
}

.profile-background{
	background: #f7f8fa;
}

.profile-block{
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	padding: 15px;
	background: #fff;
}

.calendar-block{
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	padding: 15px;
	background: #fff;
}

.student-block{
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	padding: 15px;
	background: #fff;
}

.computation-block{
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	padding: 15px;
	background: #fff;
}

.course-block{
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	padding: 15px;
	background: #fff;
}

.slot-block{
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	padding: 15px;
	background: #fff;
}

.instructor-block{
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	padding: 15px;
	background: #fff;
}

.preference-block{
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	padding: 15px;
	background: #fff;
}

.schedule-block{
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	padding: 15px;
	background: #fff;
}

.event-block{
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	padding: 15px;
	background: #fff;
}

.scheduler-block{
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	padding: 15px;
	background: #fff;
}

.email-block {
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	padding: 15px;
	background: #fff;
}

.left{
	width: auto;
	height: auto;
	display: block;
	margin-right: 20px
}

.sts-text-info{
	width: 100%;
	padding: 10px;
	height: auto;
	border: 1px solid #ddd;
}

.info{
	height: auto;
	width: 100%;
}
.info p{
	display: inline-block;
	margin-left: 5px;
}

.info label{
	width: 250px;
	font-weight: bold;
}

.info label:after{
	content: "";
	float: right;
}
/*form*/
.form{
	width: 400px;
	margin: auto;
	padding: 20px;
	border-radius: 5px;
	background: #fff;
}
.fieldWrapper{
}

.form input, select{
	width: 100%;
	margin-bottom: 15px;
}

form textarea {
    width: 100%;
    height: 150px;
    padding: 2px 2px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.center{
	width: fit-content;
	margin:auto;
}
.sts-btn{
	margin: 10px 0 10px 0;
	cursor: pointer;
	color: #032f5d;
	border: 1px solid #032f5d;
	border-radius: 10px;
	background: #fff;
	width: 300px;
}

.sts-btn:hover{
	text-decoration:underline;
}

.alert-btn{
	color: #fff;
	background: #F34541;
	border: 1px solid #F34541;
}

.success-btn{
	color: #fff;
	border: 1px solid #27ae60;
	background: #27ae60;
}

.alert-btn:hover, .success-btn:hover{
	text-decoration:underline;
	color: #fff;
}

form .sts-btn{
	cursor: pointer;
	color: #032f5d;
	border: 1px solid #032f5d;
	background: #fff;
   	width: 100%;
}
form .alert-btn{
	color: #fff;
	background: #F34541;
	border: 1px solid #F34541;
}
form .success-btn{
	color: #fff;
	border: none;
	background: #27ae60;
}
.help{
	opacity: .5;
}

.error{
	color: red;
}

.message{
	width: 100%;
}

.button {
	width: 400px;
	margin: auto;
	text-align: center;
	border: 1px solid #000;
}

.cancel {
	width: 100%;
	margin: auto;
	text-align: center;
}

#logo{
	float: left;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
#logo a:hover{
    opacity: 1;
}

.header-nav{
	background-color: #032f5d;
}


/* NAV MENU */
.admin-nav{
	background-color: #032f5d;
}
}
nav {

}

nav ul {
	padding: 0;
  	margin: 0;
	list-style: none;
	position: relative;
}

nav ul li {
	display:inline-block;
}
nav ul li ul{
	z-index: 99;
	background-color: #032f5d;
}

nav a {
	display:block;
	padding:0 10px;
	color:#FFF;
	font-size:15px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover {
	color: #fff;
	text-decoration: none;
	opacity: .9;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute;
	top: 60px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
	width:240px;
	float:none;
	display:list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	left:170px;
}


/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }


@media all and (min-width: 600px) {

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input[type="file"]{
	cursor: pointer;
  width: 100%;
  height: 34px;
  overflow: hidden;
}

input[type="radio"]{
	display: none;
}
input:checked + label {
	width: 100px;
	text-align: center;
	padding: 5px;
	color: #555;
	border: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2{
  display: block;
}

@media screen and (max-width: 650px) {

}

@media screen and (max-width: 400px) {

}

#calendar{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
 .centered{
    text-align: center;
    }
}

.solver{
	width: 100%;
}

.solver-var{
	width: 100%;
	padding: 20px;
	background: #fff;
}

.solver-result{
	margin-top: 50px;
	width: 100%;
	padding: 20px;
	background: #fff;
}

.new-schedule{
	background: #F34541;
}

#eventContent{
	display: none;
}
#eventContent .event-btn{
	margin: 10px 0 10px 0;
	cursor: pointer;
	color: #032f5d;
	border: 1px solid #032f5d;
	border-radius: 10px;
	background: #fff;
	width: 100%;
}
.ui-draggable .ui-dialog-titlebar{
	background: #e9ecef;
}
.ui-dialog .ui-dialog-title{
	color: #032f5d;
}
.ui-widget-content{
	color: #032f5d;
}
.ui-dialog-titlebar-close{

}

.select{
	width: 100%;
}
.select h3{
	text-align: center;
	padding: 10px;
}
.form-select{
	width: 30%;
	margin: auto;
}

.admin-pan{
	width: 100%;
	border-top:1px solid #e9ecef;
}

.slot{
	border: 1px solid #032f5d;
	padding: 5px;
}

.pagination{
	width: 100%;
	margin: auto;
}

.page-links{
	margin: auto;
}

.prev{
	cursor: pointer;
}

.next{
	cursor: pointer;
}

#progress-bar {
  margin-top: 1em;
}

.red{
	color:red;
}

.ucl-logo{
	margin:auto;
	width:300px;
	height:300px;
	background-image: url("images/ucl_logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}