{% extends "sts_base.html" %}

{% block body %}
<div class="row">
    <div class="computation-block">
        <h1>Genetic Algorithm computation result</h1>

        <div class="sts-text-info">
            <div class="info">
                <label>Schedule name</label>
                <p>{{ schedule.name }}</p>
            </div>
            <div class="info">
                <label>Description</label>
                <p>{{ schedule.description }}</p>
            </div>
            <div class="info">
                <label>Demi semester</label>
                <p>{{ schedule.get_readable_demiSemester }}</p>
            </div>
            <div class="info">
                <label>Numb. of students</label>
                <p>{{ n_students }}</p>
            </div>
            <div class="info">
                <label>Numb. of conflict</label>
                <p>{{ total_conflict }}</p>
            </div>
            <div class="info">
                <label>Computation time (second)</label>
                <p>{{ time }}</p>
            </div>
        </div>

        <br/>
        <div>
            <a href="{% url 'ga_computation' pk=schedule.pk%} "><button class="sts-btn alert-btn" onclick="return confirm('Are you sure?')">(Re)Compute</button></a>
        </div>
    </div>

    <div class="student-block">
        <h3>Best fitness and conflict evolution</h3>
        <div class="sts-text-info">
             <div class="student-block">
                <div class="student-list">
                    {% if best_fitness_evolution %}
                        <table class="a">
                            <thead>
                                <tr>
                                    <th>Fitness</th>
                                    <th>Conflict(s)</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for fitness, conflict in best_fitness_evolution %}
                                <tr>
                                    <td>{{fitness}}</td>
                                    <th>{{conflict}}</th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No evolution available</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="student-block">
        <h3>Average fitness and conflict evolution</h3>
        <div class="sts-text-info">
             <div class="student-block">
                <div class="student-list">
                    {% if average_fitness_evolution %}
                        <table class="a">
                            <thead>
                                <tr>
                                    <th>Fitness</th>
                                    <th>Conflict(s)</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for fitness, conflict in average_fitness_evolution %}
                                <tr>
                                    <td>{{fitness}}</td>
                                    <th>{{conflict}}</th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No evolution available</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="student-block">
        <h3>Students with conflict(s) ({{n_conflicts}})</h3>
        <div class="sts-text-info">
             <div class="student-block">
                <div class="student-list">
                    {% if conflicts %}
                        <table class="a">
                            <thead>
                                <tr>
                                    <th>Student code</th>
                                    <th>Numb. conflict</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for student in conflicts %}
                                <tr>
                                    <td>{{student.student.code}}</td>
                                    <th>{{student.n_conflict}}</th>

                                    <td><a href="{% url 'student_details' pk=student.student.pk %} ">details</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No student with conflict.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="student-block">
        <h3>Students ({{students.count}})</h3>
        <div class="sts-text-info">
            <div class="student-block">
                <div class="student-list">
                    {% if students %}
                        <table class="a">
                            <thead>
                                <tr>
                                    <th>Student code</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for student in students %}
                                <tr>
                                    <td>{{student.code}}</td>

                                    <td><a href="{% url 'student_details' pk=student.pk %} ">details</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No student yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}