{% extends "sts_base.html" %}

{% block body %}
<div class="row">
    <div class="schedule-block">
        <h1>Assign student to labs</h1>
        <div class="sts-text-info">
            <div class="info">
                <label>Schedule name</label>
                <p>{{ schedule.name }}</p>
            </div>
            <div class="info">
                <label>Description</label>
                <p>{{ schedule.description }}</p>
            </div>
            <div class="info">
                <label>Demi semester</label>
                <p>{{ schedule.get_readable_demiSemester }}</p>
            </div>
            <div class="info">
                <label>Numb. of students</label>
                <p>{{ n_students }}</p>
            </div>
        </div>
        <div>
            <a href="{% url 'compute' pk=schedule.pk %}"><button class="sts-btn success-btn">Compute</button></a>
        </div>
    </div>
</div>
{% endblock %}