{% extends "sts_base.html" %}


{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | About" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <div class="home">
        <div class="jumbotron">
          <div class="container">
                <h1>Master thesis 2017-2018</h1>
                <p>La problématique des horaires est récurrente pour plusieurs aspects au niveau des études :</p>
                <ul>
                    <li>Horaires de cours,</li>
                    <li>Horaires d’examens,</li>
                    <li>Horaires de défense des TFE.</li>
                </ul>
                <p>Plusieurs outils existent au sein de la faculté pour faciliter la confection de ces horaires (certains issus de mémoires d'étudiants réalisés par le passé), basés sur des modèes d'optimisation :</p>
                <ul>
                    <li>Optimisation des horaires de cours des majeures/mineures pour minimiser (idéalement supprimer) les conflits dans toutes les configurations ;</li>
                    <li>Proposer un horaire pour les défenses de mémoires en limiter le nombre de sessions auxquelles doivent participer les membres des jurys et permettre aux secrétaires des commissions de programme d’adapter cet horaire commun en fonction des contraintes plus locales ou de dernière minute ;</li>
                    <li>Déterminer des horaires d’examen au sein de la faculté pour éviter les conflits.</li>
                </ul>
                <p>Actuellement, les outils existants utilisent des technologies différentes, avec des interfaces sommaires (ou pas d'interface), ne sont pas toujours bien documentés, nécessitent beaucuop d'interventions manuelles et de conversions de données, aucun manuel utilisateur n’existe. La collecte des informations se fait via des formulaires ad hoc, et celles-ci ne sont pas centraliséées dans une base de donnée commune. Les résultats fournis par ces outils sont aussi communiqués sous forme de textes, difficiles à interpréter et dans un format qui ne se prête pas à une diffusion large.</p>
                <p>L’objectif du mémoire consiste donc à prendre en compte ces éléments pour fusionner, ré-implémenter avec des technologies communes et améliorer la qualité de ces outils, et confetionner un produit unifié pouvant répondre pleinement aux attentes des utilisateurs (les secrétariats).</p>
                <p>Cette interface ne doit pas se limiter à la visualisation de la solution ou à l’encodage des données. La solution proposée par l’outil sur base d’un modèle d’optimisation doit généralement être retravaillée, affinée car tout ne peut pas toujours être pris en compte lors de l’optimisation. Deux solutions peuvent paraître équivalentes « pour l’ordinateur » alors que l’être humain identifiera clairement quelles adaptations sont souhaitables. Le soin apporté à cette interface est critique pour que l’outil soit réellement utilisé par les secrétariats.</p>
                <p><i>En collaboration avec Chantal Poncin et les sysadmin INGI</i></p>
          </div>
        </div>
    </div>
</div>
{% endblock %}