{% extends "sts_base.html" %}


{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Feature" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    <div id="row">
        <div class="main">
            <center>
                <iframe  src="{% static 'pdf/master_thesis_report.pdf' %}" style="width:718px; height:700px;" frameborder="0"></iframe>
            </center>
        </div>
    </div>
{% endblock %}