{% extends "sts_base.html" %}


{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Home" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <div class="home">
        {% if user.is_authenticated %}

            <h1>Welcome {{ user.username }}!</h1>
            <hr/>

        {% else %}
            <div class="welcome">
                <h1>You are not logged in</h1>
                <center>
                    <a href="{% url 'login' %}"><button class="sts-btn">Login</button></a>
                    <a href="{% url 'signup' %}"><button class="sts-btn">Signup</button></a>
                </center>
            </div>
        {% endif %}

        <div class="ucl-logo"></div>

    </div>
</div>
{% endblock %}