{% load i18n static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.css" %}" type="text/css" media="screen">
        <script type="text/javascript" src="{% static "jquery/dist/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
        <script type="text/javascript" src="{% static "schedule.js" %}"></script>
        <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
        <!--<script src="{% static 'pace/pace.js' %}"></script>-->
        <script src="{% static 'nprogress/nprogress.js' %}"></script>
        <script src="{% static '/static/turbolinks/turbolinks.js' %}"></script>
        <link rel='stylesheet' href="{% static 'nprogress/nprogress.css' %}"/>

        <link rel="stylesheet" href="{% static "schedule.css" %}" type="text/css" media="screen">

        <link rel="stylesheet" type="text/css" href="{% static 'scheduling/style.css' %}" />

        <link rel="stylesheet" href="{% static "jquery-ui/themes/base/all.css" %}" type="text/css" media="screen">
        {% block extra_head %}
        {% endblock %}
    </head>
<div class="js">
    <body>
        {% block nav %}
        <header>
            <nav class="header-nav">
                <ul>
                    <li id="logo">
                        <div>
                            <a href="{% url 'index' %}">
                                LabScheduler
                            </a>
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'index' %}">Home</a></li>
                    {% endif %}
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'feature' %}">Feature</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'students_list' %}">Students</a></li>
                        <li><a href="{% url 'courses_list' %}">Courses</a></li>
                        <li><a href="{% url 'slots_list' %}">Slots</a></li>
                        <li><a href="{% url 'schedules_list' %}">schedules</a></li>
                        <li><a href="{% url 'student_stat' %}">Student Stats</a></li>

                        <li class="admin-nav"><a href="#">Scheduler</a>
                            <!-- First Tier Drop Down -->
                            <ul>
                                <a href="{% url 'import_courses' %}">(Re)Import courses</a>
                                <a href="{% url 'import_students' %}">(Re)Import students</a>
                                <a href="{% url 'all_possibilities' %}">Compute possibilities</a>
                            </ul>
                        </li>

                        <li><a href="{% url 'profile'%}" >{{ user.get_username }}</a></li>
                        <li><a href="{% url 'logout'%}?next={% url 'index'%}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login'%}" >Login</a></li>
                   {% endif %}
                </ul>
            </nav>
		</header>
        {% endblock %}

        <div id="body">
            <div class="content">
                {% if messages %}
                    <ul id="messages">
                        {% for message in messages %}
                        <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% block body %}
                {% endblock %}

                {% block pagination %}
                  {% if is_paginated %}
                      <div class="pagination">
                          <span class="page-links">
                              {% if page_obj.has_previous %}
                                  <a class="prev" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                              {% endif %}
                              <span class="page-current">
                                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                              </span>
                              {% if page_obj.has_next %}
                                  <a class="next" href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                              {% endif %}
                          </span>
                      </div>
                  {% endif %}
                {% endblock %}
            </div>
        </div>

        <div id="footer">
            <div class="footer">
                Master thesis - Scheduling timetable  <strong>2017-2018</strong>.
            </div>
        </div>
    </body>
</div>
</html>
