{% extends 'sts_base.html' %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Courses list" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <div class="course-block">
        <div class="list">
            <h1>Courses list ({{ object_list.count }})</h1>
            {% if object_list %}
                <table class="a">
                    <thead>
                        <tr>
                            <th>Sigle</th>
                            <th>Numb. student(s)</th>
                            <th>Numb. CM Qa</th>
                            <th>Numb. CM Qb</th>
                            <th>Numb. EX Qa</th>
                            <th>Numb. EX Qb</th>
                            <th></th>
                            <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course in object_list %}
                        <tr>
                            <td>{{course.sigle}}</td>
                            <td>{{course.n_students}}</td>
                            <td>{{course.n_CM_Qa}}</td>
                            <td>{{course.n_CM_Qb}}</td>
                            <td>{{course.n_EX_Qa}}</td>
                            <td>{{course.n_EX_Qb}}</td>
                            <td><a href="{% url 'course_details' pk=course.pk %}">Details</a></td>
                            <td><a href="{% url 'delete_course' pk=course.pk %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <br/>
                <a href="{% url 'new_course' %}"><button class="sts-btn">Create new course</button></a>
                <a href="{% url 'import_courses' %}"><button class="sts-btn alert-btn" onclick="return confirm('Are you sure?')">(Re)Import courses</button></a>

            {% else %}
                <p>No course yet.</p>
                <br/>
                <a href="{% url 'new_course' %}"><button class="sts-btn">Create new course</button></a>
                <a href="{% url 'import_courses' %}"><button class="sts-btn alert-btn">Import courses</button></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}