{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Course" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <div class="course-block">
        <h1>Course</h1>
        <div class="sts-text-info">
            <div class="info">
                <label>Sigle</label>
                <p>{{ object.sigle }}</p>
            </div>
            <div class="info">
                <label>Numb. CM Qa</label>
                <p>{{ object.n_CM_Qa }}</p>
            </div>
            {% if slots_CM_Qa %}
                <div class="slot">
                    <div class="info">
                        <label>Available timeslots</label>
                        <ul>
                            {% for slot in slots_CM_Qa %}
                                <li>{{ slot.slot.get_readable_day }}, {{ slot.slot.get_readable_shift }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %}
            {% endif %}
            <br/>
            <div class="info">
                <label>Numb. CM Qb</label>
                <p>{{ object.n_CM_Qb }}</p>
            </div>
            {% if slots_CM_Qb %}
                <div class="slot">
                    <div class="info">
                        <label>Available timeslots</label>
                        <ul>
                            {% for slot in slots_CM_Qb %}
                                <li>{{ slot.slot.get_readable_day }}, {{ slot.slot.get_readable_shift }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %}
            {% endif %}
            <br/>
            <div class="info">
                <label>Numb. EX Qa</label>
                <p>{{ object.n_EX_Qa }}</p>
            </div>
            {% if slots_EX_Qa %}
                <div class="slot">
                    <div class="info">
                        <label>Available timeslots</label>
                        <ul>
                            {% for slot in slots_EX_Qa %}
                                <li>{{ slot.slot.get_readable_day }}, {{ slot.slot.get_readable_shift }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %}
            {% endif %}
            <br/>
            <div class="info">
                <label>Numb. EX Qb</label>
                <p>{{ object.n_EX_Qb }}</p>
            </div>
            {% if slots_EX_Qb %}
                <div class="slot">
                    <div class="info">
                        <label>Available timeslots</label>
                        <ul>
                            {% for slot in slots_EX_Qb %}
                                <li>{{ slot.slot.get_readable_day }}, {{ slot.slot.get_readable_shift }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %}
            {% endif %}
        </div>
        <br/>
        <div>
            <a href="{% url 'edit_course' pk=object.pk %} "><button class="sts-btn">Edit course</button></a>
            <a href="{% url 'delete_course' pk=object.pk %} "><button class="sts-btn alert-btn">Delete course</button></a>
        </div>
    </div>

    <div class="calendar-block">
            <div id="test"></div>
            <h3>Course calendars list</h3>

            <div class="list">
                {% if schedules %}
                    <table class="a">
                        <thead>
                            <tr>
                                <th>Schedule name</th>
                                <th>Demi semester</th>
                                <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for schedule in schedules %}
                            <tr>
                                <td>{{schedule.name}}</td>
                                <td>{{schedule.get_readable_demiSemester}}</td>
                                <td><a href="{% url 'course_schedule' pk_1=object.pk pk_2=schedule.pk %}">Lab groups</a></td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% else %}
                    <p>No schedule yet.</p>
                {% endif %}
            </div>
        </div>

    <div class="student-block">
        <h3>Students ({{ students.count }})</h3>
        <div class="students-list">
            {% if students %}
                <table class="a">
                    <thead>
                        <tr>
                          <th>Code</th>
                          <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for o in students %}
                        <tr>
                            <td>{{o.student.code}}</td>
                            <td><a href="{% url 'student_details' pk=o.student.pk %}">Details</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No student yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}