{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Course schedule" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<link rel='stylesheet' type='text/css' href="{% static 'scheduling/style.css' %}" />
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
{% endblock %}


{% block body %}
<div class="row profile-background">
    <div class="profile">

        <div class="profile-block">
            <h3>Course</h3>
            <div class="sts-text-info">
                <div class="info">
                    <label>Sigle</label>
                    <p>{{ course.sigle }}</p>
                </div>
                <div class="info">
                    <label>Numb. students</label>
                    <p>{{ course.n_students }}</p>
                </div>
                {% if schedule.demi_semester == 1 %}
                    <div class="info">
                        <label>Numb. CM Qa</label>
                        <p>{{ course.n_CM_Qa }}</p>
                    </div>
                    <div class="info">
                        <label>Numb. EX Qa</label>
                        <p>{{ course.n_EX_Qa }}</p>
                    </div>
                    <div class="info">
                        <label>Numb. student per group</label>
                        <p>{{ course.n_student_group_qa }}</p>
                    </div>
                {% else %}
                    <div class="info">
                        <label>Numb. CM Qb</label>
                        <p>{{ course.n_CM_Qb }}</p>
                    </div>
                    <div class="info">
                        <label>Numb. EX Qb</label>
                        <p>{{ course.n_EX_Qb }}</p>
                    </div>
                    <div class="info">
                        <label>Numb. student per group</label>
                        <p>{{ course.n_student_group_qb }}</p>
                    </div>
                {% endif %}
                <div class="info">
                    <label>Average difference</label>
                    <p>{{ difference_average }}</p>
                </div>
            </div>
            <br/>
        </div>

        <div class="course-block">
            {% if schedule.demi_semester == 1 and course.n_EX_Qa == 0 %}
                <h3>No Labs for {{schedule.name}}</h3>
            {% elif schedule.demi_semester == 2 and course.n_EX_Qb == 0 %}
                <h3>No Labs for {{schedule.name}}</h3>
            {% else %}
                <h3>Labs of {{schedule.name}}</h3>
                <div class="courses-list">
                    <table class="a">
                        <thead>
                            <tr>
                                <th>Lab</th>
                                <th>Numb. of students</th>
                                <th>Difference</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for lab in labs %}
                            <tr>
                                <td>{{lab.session.slot.get_readable_day }}, {{ lab.session.slot.get_readable_shift }}</td>
                                <td>{{lab.n_students}} ({{lab.student_percentage}})</td>
                                <td>{{lab.difference}}</td>
                                {% if schedule.demi_semester == 1 %}
                                    <td><a href="{% url 'lab_qa_details' pk=lab.session.pk pk_2=schedule.pk %}">Details</a></td>
                                {% else %}
                                    <td><a href="{% url 'lab_qb_details' pk=lab.session.pk pk_2=schedule.pk %}">Details</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>

        <div class="calendar-block">
            <div id="test"></div>
            {% if event_objects %}
                <h3>Course calendar of {{schedule.name}}</h3>
            {% else %}
                <h3>{{schedule.name}} has no events yet for this course.</h3>
            {% endif %}

            <div class="calendar">
                <div class="row">
                    <div id="eventContent" title="Event Details">
                        <div id="eventInfo"></div>
                        <a id="eventLink" target="_self"><button class="event-btn">Read More</button></a>
                    </div>

                    <div class="wrapper" id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Calendar creation script -->
<script src="fcbasic.js"></script>
<script src="fc-select.js"></script>

<script type='text/javascript'>

    $(document).ready(function() {
        // Array of events
        var events_array = getEvents("{{event_objects}}");

        // page is now ready, initialize the calendar...
        var $calendar = $('#calendar').fullCalendar(
        { //start of option
            defaultView: 'agendaWeek',
            minTime: "08:30:00",
            maxTime: "20:30:00",
            allDaySlot: false,


            // Do not show Saturday/Sunday
            weekends: false,
            header: {
                left : 'title',
                center: '',
                right: 'agendaDay, agendaWeek'
            },

            eventClick:  function(event, jsEvent, view) {
                if (event.url){


                //set the values and open the modal
                $("#eventInfo").html(event.description);
                $("#eventLink").attr('href', event.url);
                $("#eventContent").dialog({ modal: true, title: event.title });
                return false;
                }
            },


            // Make possible to respond to clicks and selections
            //selectable: false,

            editable : false,


            events: events_array

        } // End of option
        );
        }
    );

    function getEvents(event_objects) {
        // Array of events
        var events_array = [];

        {% for e in event_objects %}
            //document.getElementById("test").innerHTML = "{{e.course}}";
                lec_event = {
                    //title of the event
                    {% if e.tag == 1 %}
                        title: "Lecture :\n"+"{{e.course.sigle}}",
                    {% else %}
                        title: "Lab :\n"+"{{e.course.sigle}}",
                    {% endif %}
                    //start of the event
                    start: "{{e.get_lec_start}}",
                    //end of the event
                    end: "{{e.get_lec_end}}",
                    dow: "{{e.slot.day}}",
                    description: "{{e.description}}",
                    url: "{% url 'course_details' pk=e.course.pk %}",
                    color: "{{e.get_color}}"
                };

            events_array.push(lec_event);

        {% endfor %}

        return events_array;
    }

</script>
{% endblock %}

