{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Delete Course" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <h1>Delete course</h1>
    <form class="form" method="post">{% csrf_token %}
        <p>Are you sure you want to delete this object?</p>
        <div class="fieldWrapper">
            <div class="info">
                <label >Sigle</label>
                <p>{{object.sigle}}</p>
            </div>
            <div class="info">
                <label >Numb. CM QA</label>
                <p>{{object.n_CM_Qa}}</p>
            </div>
            <div class="info">
                <label >Numb. CM QB</label>
                <p>{{object.n_CM_Qb}}</p>
            </div>
            <div class="info">
                <label >Numb. EX QA</label>
                <p>{{object.n_EX_Qa}}</p>
            </div>
            <div class="info">
                <label >Numb. EX QB</label>
                <p>{{object.n_EX_Qb}}</p>
            </div>
        </div>
        <input class="sts-btn alert-btn" type="submit" value="Confirm" />
        <a href='{% url "course_details" pk=object.pk %}' ><button class="sts-btn" type="button">Cancel</button></a>
    </form>
</div>
{% endblock %}