{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Import courses" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <div class="course-block">
        {% if slots %}
            {% if courses %}
                <div class="list">
                    <h1>Imported courses</h1>
                    <table class="a">
                        <thead>
                            <tr>
                                <th>sigle</th>
                                <th>Numb. CM QA</th>
                                <th>Numb. CM QB</th>
                                <th>Numb. EX QA</th>
                                <th>Numb. EX QB</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>{{course.sigle}}</td>
                                <td>{{course.n_CM_QA}}</td>
                                <td>{{course.n_CM_QB}}</td>
                                <td>{{course.n_EX_QA}}</td>
                                <td>{{course.n_EX_QB}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'courses_list' %}"><button class="sts-btn">View all course</button></a>
                </div>
            {% else %}
                <h1>Import a courses file</h1>
                <form class="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="my_file">
                    <a href="{% url 'courses_list' %}"><input type="submit" value="Import" class="sts-btn"></a>
                </form>
            {% endif %}
        {% else %}
            <h1>Import Courses</h1>
            <p>You need to generate slots first</p>
            <a href="{% url 'gen_slots' %}"><button class="sts-btn alert-btn">Generate slots</button></a>
        {% endif %}
    </div>
</div>
{% endblock %}