{% extends "sts_base.html" %}

{% block body %}
<div class="row">
    <h1>Delete event</h1>
    <form class="form" method="post">{% csrf_token %}
        <p>Are you sure you want to delete this object?</p>
        <div class="fieldWrapper">
            <div class="info">
                <label >Schedule's event</label>
                <p>{{object.schedule.name}}</p>
            </div>
            <div class="info">
                <label >Course</label>
                <p>{{object.course.acronym}}</p>
            </div>
        </div>
        <input class="sts-btn alert-btn" type="submit" value="Confirm" />
        <a href='{% url "schedule_details" pk=object.pk %}' ><button class="sts-btn" type="button">Cancel</button></a>
    </form>
</div>
{% endblock %}