{% extends 'sts_base.html' %}

{% block body %}
<div class="row">
    <div class="event-block">
        <div class="list">
            <h1>Events list ({{object_list.count}})</h1>
            {% if object_list %}
                <table class="a">
                    <tr>
                        <th>Schedule</th>
                        <th>Course sigle</th>
                        <th>Slot</th>
                        <th>Tag</th>
                        <th></th>
                    </tr>
                    {% for event in object_list %}
                        <tr>
                            <td>{{event.schedule.name}}</td>
                            <td>{{event.course.sigle}}</td>
                            <td>{{event.slot}}</td>
                            <td>{{event.get_readable_tag}}</td>
                            <td><a href="{% url 'event_details' pk=event.pk %}">Details</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>No event yet.</p>
            {% endif %}
            <br/>
            <a href="{% url 'new_event' %}"><button class="sts-btn">Create new event</button></a>
        </div>
    </div>
</div>
{% endblock %}