{% extends "sts_base.html" %}

{% block body %}
<div class="row">
    <div class="event-block">
        <h1>Event</h1>
        <div class="sts-text-info">
            <div class="info">
                <label>Course</label>
                <p>{{ object.course.sigle }}</p>
            </div>
            <div class="info">
                <label>Slot</label>
                <p>{{ object.slot }}</p>
            </div>
            <div class="info">
                <label>Schedule</label>
                <p>{{ object.schedule.name }}</p>
            </div>
        </div>
        <br/>
        <div>
            <a href="{% url 'edit_event' pk=object.pk %} "><button class="sts-btn">Edit event</button></a>
            <a href="{% url 'delete_event' pk=object.pk %} "><button class="sts-btn alert-btn">Delete event</button></a>
        </div>
    </div>

</div>
{% endblock %}