{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Create event" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <h1>Create new event</h1>
    <form class="form" method="post">
        {% csrf_token %}
        <div>
            {% for field in form %}
                <label>{{field.label_tag}}</label>
                {{field}}
            {% endfor %}
        </div>
        <input class="sts-btn" type="submit" value="Save" />
    </form>
</div>
{% endblock %}