{% extends "sts_base.html" %}


{% load i18n static %}

{% block head_title %}{% trans "LabScheduler | Schedule timetable" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<link rel='stylesheet' type='text/css' href="{% static 'scheduling/style.css' %}" />
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
{% endblock %}

{% block body %}

<!--Begin Calendar-->
<div id="test">


</div>
<div class="row">
    <center>
        <h3>{{schedule.name}}'s calendar</h3>
    </center>
    <div id="eventContent" title="Event Details">
        <div id="eventInfo"></div>
        <a id="eventLink" target="_self"><button class="event-btn">Read More</button></a>
    </div>

    <div class="wrapper" id="calendar"></div>
    <a href="{% url 'schedule_details' pk=schedule.pk %}"><button class="sts-btn">Back to schedule</button></a>
</div>
<!--End Calendar-->

<!-- Calendar creation script -->
<script src="fcbasic.js"></script>
<script src="fc-select.js"></script>

<script type='text/javascript'>

    $(document).ready(function() {

        // Array of events
        var events_array = getEvents("{{event_objects}}");

        // page is now ready, initialize the calendar...
        var $calendar = $('#calendar').fullCalendar(
        { //start of option
            defaultView: 'agendaWeek',
            minTime: "08:30:00",
            maxTime: "20:30:00",
            allDaySlot: false,
            slotEventOverlap: true,


            // Do not show Saturday/Sunday
            weekends: false,
            header: {
                left : 'title',
                center: '',
                right: 'agendaDay, agendaWeek'
            },

            eventClick:  function(event, jsEvent, view) {
                if (event.url){


                //set the values and open the modal
                $("#eventInfo").html(event.description);
                $("#eventLink").attr('href', event.url);
                $("#eventContent").dialog({ modal: true, title: event.title });
                return false;
                }
            },


            // Make possible to respond to clicks and selections
            //selectable: false,

            editable : false,


            events: events_array

        } // End of option
        );
        }
    );

    function getEvents(event_objects) {
        // Array of events
        var events_array = [];

        {% for e in event_objects %}
            //document.getElementById("test").innerHTML = "{{e.course}}";

            lec_event = {
                //title of the event
                title: "Lecture :\n"+"{{e.course.sigle}}",
                //start of the event
                start: "{{e.get_lec_start}}",
                //end of the event
                end: "{{e.get_lec_end}}",
                dow: "{{e.slot.day}}",
                description: "{{e.description}}",
                url: "{% url 'course_details' pk=e.course.pk %}",
                color: "{{e.get_color}}"
            };

            events_array.push(lec_event);

        {% endfor %}

        return events_array;
    }

</script>

<style>
    .wrapper{
        padding: 5%;
    }
</style>

{% endblock %}
