{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Schedule" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    {% if not group_lab %}
        <div class="schedule-block">
            <h1>Schedule {% if student_course_ex %} (Already balanced) {% endif %}</h1>
            <div class="sts-text-info">
                <div class="info">
                    <label>Name</label>
                    <p>{{ schedule.name }}</p>
                </div>
                <div class="info">
                    <label>Description</label>
                    <p>{{ schedule.description }}</p>
                </div>
                <div class="info">
                    <label>Demi semester</label>
                    <p>{{ schedule.get_readable_demiSemester }}</p>
                </div>
                <div class="info">
                    <label>General difference average</label>
                    <p>{{ gen_difference_average }}</p>
                </div>
                <div class="info">
                    <label>Reduced difference average</label>
                    <p>{{ red_difference_average }}</p>
                </div>
            </div>
            <br/>
            <div>
                <a href="{% url 'edit_schedule' pk=schedule.pk %} "><button class="sts-btn">Edit schedule</button></a>
                <a href="{% url 'delete_schedule' pk=schedule.pk %} "><button class="sts-btn alert-btn">Delete schedule</button></a>
                <!--<a href="{% url 'labs' pk=schedule.pk %}"><button class="sts-btn success-btn">Genetic algorithm</button></a>-->
                {% if events %}
                    <hr/>
                    {% if not student_course_ex %}

                        <a href="{% url 'compute_lab_groups' pk=schedule.pk %}"><button class="sts-btn">Compute lab groups</button></a>
                    {% else %}
                        <a href="{% url 'compute_lab_groups' pk=schedule.pk %}"><button class="sts-btn success-btn">(Re)Balance labs groups</button></a>
                    {% endif %}
                    <a href="{% url 'ga_computation' pk=schedule.pk %}"><button class="sts-btn">GA computation (Optional)</button></a>
                {% endif %}
            </div>
        </div>

        {% if student_course_ex %}
            <div class="course-block">
                <h3>{{schedule_stat.n_labs_no_student}} Labs with no students ({{schedule_stat.percentage}})</h3>
                <div class="courses-list">
                    <table class="a">
                        <thead>
                            <tr>
                                  <th>Course</th>
                                  <th>Numb. student(s)</th>
                                  <th>Slot</th>
                                  <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for lab in schedule_stat.labs_no_student %}
                            <tr>
                                <td>{{lab.course}}</td>
                                <td>{{lab.course.n_students}}</td>
                                <td>{{lab.slot.get_readable_day}}, {{lab.slot.get_readable_shift}}</td>
                                <td><a href="{% url 'course_details' pk=lab.course.pk %}">Details</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        <div class="event-block">
            <h1>Schedule's events ({{events.count}})</h1>
            {% if events %}
                <div class="list">
                    <a href="{% url 'schedule_calendar' pk=schedule.pk %}"><button class="sts-btn">Calendar</button></a>
                    <table class="a">
                        <tr>
                              <th>Course sigle</th>
                              <th>Slot</th>
                              <th>Tag</th>
                              <th></th>
                        </tr>
                        {% for event in events %}
                            <tr>
                                <td>{{event.course.sigle}}</td>
                                <td>{{event.slot}}</td>
                                <td>{{event.tag}}</td>
                                <td><a href="{% url 'event_details' pk=event.pk %}">Details</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br/>
                    <a href="{% url 'new_event' %}"><button class="sts-btn">Add new event</button></a>
                    <a href="{% url 'schedule_new_events' pk=schedule.pk %}"><button class="sts-btn alert-btn" onclick="return confirm('Are you sure?')">(Re)Generate new events</button></a>
                </div>
            {% else %}
                <p>No event yet. You must to generate it.</p>
                <a href="{% url 'schedule_new_events' pk=schedule.pk %}"><button class="sts-btn">Generate events</button></a>
            {% endif %}

        </div>
    {% else %}
        <div class="schedule-block">
            <h1>Computation of group labs of {{schedule.name}}</h1>
            <p>Students must be imported first</p>

            <div>
                <a href="{% url 'import_students'%}"><button class="sts-btn alert-btn">Import students</button></a>
            </div>
        </div>

    {% endif %}

</div>
{% endblock %}