{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Delete schedule" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <h1>Delete schedule</h1>
    <form class="form" method="post">{% csrf_token %}
        <p>Are you sure you want to delete this object?</p>
        <div class="fieldWrapper">
            <div class="info">
                <label >Name</label>
                <p>{{object.name}}</p>
            </div>
            <div class="info">
                <label >Description</label>
                <p>{{object.description}}</p>
            </div>
        </div>
        <input class="sts-btn alert-btn" type="submit" value="Confirm" />
        <a href='{% url "schedule_details" pk=object.pk %}' ><button class="sts-btn" type="button">Cancel</button></a>
    </form>
</div>
{% endblock %}