{% extends "sts_base.html" %}

{% load i18n static %}

{% block head_title %}{% trans "LabScheduler | Generate schedule's events" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    <div class="row">
        <div class="schedule-block">
            <h1>Schedule</h1>
            <div class="sts-text-info">
                <div class="info">
                    <label>Schedule name</label>
                    <p>{{ schedule.name }}</p>
                </div>
                <div class="info">
                    <label>Demi semester</label>
                    <p>{{ schedule.get_readable_demiSemester }}</p>
                </div>
                <div class="info">
                    <label>Schedule description</label>
                    <p>{{ schedule.description }}</p>
                </div>
                <div class="info">
                    <label>Number of courses</label>
                    <p>{{courses.count}}</p>
                </div>
            </div>
        </div>
        <div class="scheduler-block">
            <h3>Courses list ({{ courses.count }})</h3>

            <hr/>

            <div>
                <a href="{% url 'gen_event' pk=schedule.pk %}"><button class="sts-btn">Generate events</button></a>
            </div>

            <hr/>

            <div class="course-list">
                {% if courses %}
                    <table class="a">
                        <thead>
                            <tr>
                                <th>Sigle</th>
                                {% if schedule.demi_semester == 1 %}
                                    <th>Numb. CM Qa</th>
                                    <th>Numb. EX Qa</th>
                                {% else %}
                                    <th>Numb. CM Qb</th>
                                    <th>Numb. EX Qb</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>{{course.sigle}}</td>
                                {% if schedule.demi_semester == 1 %}
                                    <td>{{course.n_CM_Qa}}</td>
                                    <td>{{course.n_EX_Qa}}</td>
                                {% else %}
                                    <td>{{course.n_CM_Qb}}</td>
                                    <td>{{course.n_EX_Qb}}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No course yet.</p>
                    <a href="{% url 'new_course' %}"><button class="sts-btn">Create course</button></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}