{% extends 'sts_base.html' %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Schedules list" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <div class="schedule-block">
        <div class="list">
            <h1>Schedule list</h1>
            {% if object_list %}
                <table class="a">
                    <thead>
                        <tr>
                            <th>Schedule name</th>
                            <th>Demi semester</th>
                            <th></th>
                            <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for schedule in object_list %}
                        <tr>
                            <td>{{schedule.name}}</td>
                            <td>{{schedule.get_readable_demiSemester}}</td>
                            <td><a href="{% url 'schedule_details' pk=schedule.pk %}">Details</a></td>
                            <td><a href="{% url 'delete_schedule' pk=schedule.pk %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <p>No schedule yet.</p>
            {% endif %}
            <br/>
            <a href="{% url 'new_schedule' %}"><button class="sts-btn">Create new schedule</button></a>
        </div>
    </div>
</div>
{% endblock %}