<!--Preference-->
<div class="preference-block">
    {% if account %}
        <h1>Preferences</h1>
    {% else %}
        <h1>My preferences</h1>
    {% endif %}
    <div class="preference-info">
        <div class="info">
            <!--Preference-->
            <label>Preferences</label>
            {% if not preferences %}
                <div>
                    <p>No preference yet.</p>
                    <br/>
                </div>
            {% else %}
                <table class="a">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Shift</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pref in preferences %}
                            <tr>
                                <td>{{pref.get_day}}</td>
                                <td>{{pref.get_shift}}</td>
                                <td><a href="{% url 'edit_preference' pk=pref.pk%}">Edit</a></td>
                                <td><a href="{% url 'delete_preference' pk=pref.pk %} ">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
            {% endif %}
            <br/>
            <a href="{% url 'new_preference' %}"><button class="sts-btn">Add preference</button></a>
            <!--End Preference-->
            <br/>
            <br/>
            <!--Dislike-->
            <label>Not wanted date</label>
            {% if not dislikes %}
                <div>
                    <p>No dislike yet.</p>
                    <br/>
                </div>
            {% else %}
                <table class="a">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Start</th>
                            <th>End</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dis in dislikes %}
                            <tr>
                                <td>{{dis.get_day}}</td>
                                <td>{{dis.get_start}}</td>
                                <td>{{dis.get_end}}</td>
                                <td><a href="{% url 'edit_dislike' pk=dis.pk%}">Edit</a></td>
                                <td><a href="{% url 'delete_dislike' pk=dis.pk %} ">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <br/>
            <a href="{% url 'new_dislike' %}"><button class="sts-btn">Add dislike</button></a>
            <!--End dislike-->
        </div>
    </div>
</div>
<!--End preference-->