<!--Profile-->
<div class="profile-block">
    <h1>My profile</h1>
    <div class="personal-info">
        <div class="info">
            <label >Username</label>
            <p>{{user.get_username}}</p>
        </div>
        <!--Super user don't need this fields-->
        {% if user.is_superuser == False %}
            <div class="info">
                <label>Firstname</label>
                <p>{{user.first_name}}</p>
            </div>
            <div class="info">
                <label>Lastname</label>
                <p>{{user.last_name}}</p>
            </div>
        {% endif %}
        <div class="info">
            <label>Email</label>
            <p>{{user.email}}</p>
        </div>
        <div class="info">
            <label>Account type</label>
            <p>{{user.get_account}}</p>
        </div>
    </div>

    <div>
        <a href="{% url 'edit_profile' %}"><button class="sts-btn">Edit my profile</button></a>
        <a href="{% url 'change_password' %}"><button class="sts-btn">Change my password</button></a>
    </div>

</div>
<!--End Profile-->
