{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Compute possibility" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <div class="schedule-block">
        <h1>Possibilities computation</h1>
        {% if students %}
            <div class="sts-text-info">
                <div class="info">
                    <label>Numb. students</label>
                    <p>{{ students.count }}</p>
                </div>
            </div>

            <div>
                {% if possibilities_qa or pssibilities_qb %}
                    <a href="{% url 'student_stat'%}"><button class="sts-btn">See stats</button></a>
                    <a href="{% url 'student_possibilities' %}"><button class="sts-btn alert-btn" onclick="return confirm('Are you sure?')">Recompute possibilities</button></a>
                {% else %}
                    <a href="{% url 'student_possibilities' %}"><button class="sts-btn">Get all possibilities</button></a>
                {% endif %}
            </div>
        {% else %}
            <p>Student must be imported first</p>
            <div>
               <a href="{% url 'import_students' %}"><button class="sts-btn alert-btn">Import students</button></a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}