{% extends "sts_base.html" %}

{% load i18n static %}

{% block head_title %}{% trans "Schedule timetable" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<link rel='stylesheet' type='text/css' href="{% static 'scheduling/style.css' %}" />
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
{% endblock %}

{% block body %}
<div class="row">
    {% if stat.students %}
        <div class="schedule-block">
            <h1>Possibilities computation</h1>
            <div class="sts-text-info">
                <div class="info">
                    <label>Time (second)</label>
                    <p>{{ time }}</p>
                </div>
                <div class="info">
                    <label>Numb. students</label>
                    <p>{{ stat.n_students }}</p>
                </div>
            </div>

            <div>
                <ul>
                    {% for p in pos %}
                        <li>{{p}}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <a href="{% url 'student_stat'%}"><button class="sts-btn">See stats</button></a>
            </div>
        </div>

        <div class="student-block">
            <h3>Student with no possibility for some courses in QA ({{stat.no_possibility_qa.numb_students}})</h3>
            <div class="courses-list">
                {% if stat.no_possibility_qa.students %}
                    <table class="a">
                        <thead>
                            <tr>
                                  <th>code</th>
                                  <th>Numb. courses</th>
                                  <th>Courses</th>
                                  <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for student in stat.no_possibility_qa.students %}
                            <tr>
                                <td>{{student.student}}</td>
                                <td>{{student.n_courses}}</td>
                                <td>{{student.courses_to_string}}</td>
                                <td><a href="{% url 'student_details' pk=student.student.pk%}">Details</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No student.</p>
                {% endif %}
            </div>
        </div>

        <div class="student-block">
            <h3>Student with no possibility for some courses in QB ({{stat.no_possibility_qb.numb_students}})</h3>
            <div class="courses-list">
                {% if stat.no_possibility_qb.students %}
                    <table class="a">
                        <thead>
                            <tr>
                                  <th>code</th>
                                  <th>Numb. courses</th>
                                  <th>Courses</th>
                                  <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for student in stat.no_possibility_qa.students %}
                            <tr>
                                <td>{{student.student}}</td>
                                <td>{{student.n_courses}}</td>
                                <td>{{student.courses_to_string}}</td>
                                <td><a href="{% url 'student_details' pk=student.student.pk%}">Details</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No student.</p>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="schedule-block">
            <h1>Possibilities computation</h1>
            <p>Students must be imported first</p>

            <div>
                <a href="{% url 'import_students'%}"><button class="sts-btn alert-btn">Import students</button></a>
            </div>
        </div>
    {% endif %}

    <!--<div class="calendar-block">
        <div id="test"></div>
        {% if event_objects %}
            <h3>Student calendar of student</h3>
        {% else %}
            <h3>{{schedule.name}} has no events yet for this student.</h3>
        {% endif %}

        <div class="calendar">
            <div class="row">
                <div id="eventContent" title="Event Details">
                    <div id="eventInfo"></div>
                    <a id="eventLink" target="_self"><button class="event-btn">Read More</button></a>
                </div>

                <div class="wrapper" id="calendar"></div>
            </div>
        </div>
    </div>-->
</div>

<!-- Calendar creation script -->
<script src="fcbasic.js"></script>
<script src="fc-select.js"></script>

<script type='text/javascript'>

    $(document).ready(function() {
        // Array of events
        var events_array = getEvents("{{event_objects}}");

        // page is now ready, initialize the calendar...
        var $calendar = $('#calendar').fullCalendar(
        { //start of option
            defaultView: 'agendaWeek',
            minTime: "08:30:00",
            maxTime: "20:30:00",
            allDaySlot: false,


            // Do not show Saturday/Sunday
            weekends: false,
            header: {
                left : 'title',
                center: '',
                right: 'agendaDay, agendaWeek'
            },

            eventClick:  function(event, jsEvent, view) {
                if (event.url){


                //set the values and open the modal
                $("#eventInfo").html(event.description);
                $("#eventLink").attr('href', event.url);
                $("#eventContent").dialog({ modal: true, title: event.title });
                return false;
                }
            },


            // Make possible to respond to clicks and selections
            //selectable: false,

            editable : false,


            events: events_array

        } // End of option
        );
        }
    );

    function getEvents(event_objects) {
        // Array of events
        var events_array = [];

        {% for e in event_objects %}
            //document.getElementById("test").innerHTML = "{{e.course}}";
                lec_event = {
                    //title of the event
                    {% if e.tag == 1 %}
                        title: "Lecture :\n"+"{{e.course.sigle}}",
                    {% else %}
                        title: "Lab :\n"+"{{e.course.sigle}}",
                    {% endif %}
                    //start of the event
                    start: "{{e.get_lec_start}}",
                    //end of the event
                    end: "{{e.get_lec_end}}",
                    dow: "{{e.slot.day}}",
                    description: "{{e.description}}",
                    url: "{% url 'course_details' pk=e.course.pk %}",
                    color: "{{e.get_color}}"
                };

            events_array.push(lec_event);

        {% endfor %}

        return events_array;
    }

</script>
{% endblock %}