{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Generated slots" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <div class="slot-block">
        {% if slots %}
            <div class="list">
                <h1>Generated slots</h1>
                <table class="a">
                    <thead>
                        <tr>
                          <th>slot code</th>
                          <th>Day</th>
                          <th>Hour</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for slot in slots %}
                        <tr>
                            <td>{{slot.get_code}}</td>
                            <td>{{slot.get_readable_day}}</td>
                            <td>{{slot.get_readable_shift}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="{% url 'slots_list' %}"><button class="sts-btn">View all slots</button></a>
            </div>
        {% else %}
            <h1>Generated slots</h1>
            <p>Cannot generate slot.</p>
        {% endif %}
    </div>
</div>
{% endblock %}