{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Slot" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <div class="slot-block">
        <h1>Slot</h1>
        <div class="sts-text-info">
            <div class="info">
                <label>code</label>
                <p>{{ object.get_code }}</p>
            </div>
            <div class="info">
                <label>Day</label>
                <p>{{ object.get_readable_day }}</p>
            </div>
            <div class="info">
                <label>Shift</label>
                <p>{{ object.get_readable_shift }}</p>
            </div>
        </div>
        <br/>
        <div>
            <a href="{% url 'edit_slot' pk=object.pk %} "><button class="sts-btn">Edit slot</button></a>
            <a href="{% url 'delete_slot' pk=object.pk %} "><button class="sts-btn alert-btn">Delete slot</button></a>
        </div>
    </div>

    <div class="course-block">
        <div class="list">
            <h1>QA Courses lecture in this slot ({{ courses_lecture_qa.count }})</h1>
            {% if courses_lecture_qa %}
                <table class="a">
                    <thead>
                        <tr>
                            <th>Sigle</th>
                            <th>Numb. student(s)</th>
                            <th>Numb. CM Qa</th>
                            <th>Numb. CM Qb</th>
                            <th>Numb. EX Qa</th>
                            <th>Numb. EX Qb</th>
                            <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in courses_lecture_qa %}
                        <tr>
                            <td>{{object.course.sigle}}</td>
                            <td>{{object.course.n_students}}</td>
                            <td>{{object.course.n_CM_Qa}}</td>
                            <td>{{object.course.n_CM_Qb}}</td>
                            <td>{{object.course.n_EX_Qa}}</td>
                            <td>{{object.course.n_EX_Qb}}</td>
                            <td><a href="{% url 'course_details' pk=object.course.pk %}">Details</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No course yet in this slot.</p>
            {% endif %}
        </div>
    </div>

    <div class="course-block">
        <div class="list">
            <h1>QA Courses exercise in this slot ({{ courses_lab_qa.count }})</h1>
            {% if courses_lab_qa %}
                <table class="a">
                    <thead>
                        <tr>
                            <th>Sigle</th>
                            <th>Numb. student(s)</th>
                            <th>Numb. CM Qa</th>
                            <th>Numb. CM Qb</th>
                            <th>Numb. EX Qa</th>
                            <th>Numb. EX Qb</th>
                            <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in courses_lab_qa %}
                        <tr>
                            <td>{{object.course.sigle}}</td>
                            <td>{{object.course.n_students}}</td>
                            <td>{{object.course.n_CM_Qa}}</td>
                            <td>{{object.course.n_CM_Qb}}</td>
                            <td>{{object.course.n_EX_Qa}}</td>
                            <td>{{object.course.n_EX_Qb}}</td>
                            <td><a href="{% url 'course_details' pk=object.course.pk %}">Details</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No course yet in this slot.</p>
            {% endif %}
        </div>
    </div>

    <div class="course-block">
        <div class="list">
            <h1>QB Courses lecture in this slot ({{ courses_lecture_qb.count }})</h1>
            {% if courses_lecture_qb %}
                <table class="a">
                    <thead>
                        <tr>
                            <th>Sigle</th>
                            <th>Numb. student(s)</th>
                            <th>Numb. CM Qa</th>
                            <th>Numb. CM Qb</th>
                            <th>Numb. EX Qa</th>
                            <th>Numb. EX Qb</th>
                            <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in courses_lecture_qb %}
                        <tr>
                            <td>{{object.course.sigle}}</td>
                            <td>{{object.course.n_students}}</td>
                            <td>{{object.course.n_CM_Qa}}</td>
                            <td>{{object.course.n_CM_Qb}}</td>
                            <td>{{object.course.n_EX_Qa}}</td>
                            <td>{{object.course.n_EX_Qb}}</td>
                            <td><a href="{% url 'course_details' pk=object.course.pk %}">Details</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No course yet in this slot.</p>
            {% endif %}
        </div>
    </div>

    <div class="course-block">
        <div class="list">
            <h1>QB Courses exercise in this slot ({{ courses_lab_qb.count }})</h1>
            {% if courses_lab_qb %}
                <table class="a">
                    <thead>
                        <tr>
                            <th>Sigle</th>
                            <th>Numb. student(s)</th>
                            <th>Numb. CM Qa</th>
                            <th>Numb. CM Qb</th>
                            <th>Numb. EX Qa</th>
                            <th>Numb. EX Qb</th>
                            <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in courses_lab_qb %}
                        <tr>
                            <td>{{object.course.sigle}}</td>
                            <td>{{object.course.n_students}}</td>
                            <td>{{object.course.n_CM_Qa}}</td>
                            <td>{{object.course.n_CM_Qb}}</td>
                            <td>{{object.course.n_EX_Qa}}</td>
                            <td>{{object.course.n_EX_Qb}}</td>
                            <td><a href="{% url 'course_details' pk=object.course.pk %}">Details</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No course yet in this slot.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}