{% extends "sts_base.html" %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Create slot" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <h1>Create new slot</h1>
    <form class="form" method="post">
        {% csrf_token %}
        <div>
            {% for field in form %}
                <label>{{field.label_tag}}</label>
                {{field}}
                <p>{{field.errors}}</p>
            {% endfor %}
        </div>
        <div>
            <input class="sts-btn" type="submit" value="Create" />
            <a href='{% url "slots_list" %}' ><button class="sts-btn" type="button">Cancel</button></a>
        </div>
    </form>
</div>
{% endblock %}