{% extends 'sts_base.html' %}

{% load i18n static %}
{% block head_title %}{% trans "LabScheduler | Slots list" %}{% endblock %}
{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
<div class="row">
    <div class="slot-block">
        <div class="list">
            <h1>Slots list ({{object_list.count}})</h1>
            {% if object_list %}
                <table class="a">
                    <thead>
                        <tr>
                          <th>slot code</th>
                          <th>Day</th>
                          <th>Hour</th>
                          <th></th>
                          <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for slot in object_list %}
                        <tr>
                            <td>{{slot.get_code}}</td>
                            <td>{{slot.get_readable_day}}</td>
                            <td>{{slot.get_readable_shift}}</td>
                            <td><a href="{% url 'slot_details' pk=slot.pk %}">Details</a></td>
                            <td><a href="{% url 'delete_slot' pk=slot.pk %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <br/>
                <a href="{% url 'new_slot' %}"><button class="sts-btn">Create new slot</button></a>
                <a href="{% url 'gen_slots' %}"><button class="sts-btn alert-btn" onclick="return confirm('Are you sure?')">(Re)Generate slots</button></a>

            {% else %}
                <p>No slot yet.</p>

                <br/>
                <a href="{% url 'new_slot' %}"><button class="sts-btn">Create new slot</button></a>
                <a href="{% url 'gen_slots' %}"><button class="sts-btn alert-btn">Generate slots</button></a>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}